.booking-container{
  background-color: purple;
  border: 1px solid purple;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h3 { 
    color: black;
    font-size:25px;
    font-weight: 600;
  }
}