.check_in_box {
  display: flex;
  justify-content: space-between;

  button {
    width: 120%;
    background: none;
    border: none;
  }
  .check_in_out_border_box{
    border-right: 1px solid  lightgray;
  }
}