.guest_box {
  display: flex;
  flex-direction: column;

  width: 90%;
  height: 50%;
  border: 1px solid lightgray;
  border-radius: 0px 0px 8px 8px;

  button{
    background: none;
    border: none;
  }
}