.outer-listing-show-container {

    h1 {
        padding-left: 12%;
        padding-bottom: 5%;
        font-size: 30px;
        font-weight: 600;
    }
}
.listing-show-photo-container{
    display: flex;
}
.first-listing-photo {
    width: 40vw;
    height: 47vh;
    padding-left: 12%;
    border-radius: 8% 0% 0% 8%;
}
.listing-show-page-4-main-photos {
    ul {
        display: flex;
        flex-wrap: wrap;
        width: 40vw;
   }
   li {
    //   padding: 2%;    
   }
    img {
        width: 20vw;
        height: 23.5vh;
        // padding: 5%;
    }
}