.listing-index-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 792px;
    height: 228px;
}
.inner-index-item-div{
    display: flex;
    
}
.inner-index-item-div-price {
    display: flex;
    justify-content: right;
    
}