.results-for {
    padding: 2%;
    padding-left: 5%;

}
.listing-and-map-container {
    display: flex;
    // justify-content: flex-start;
}
.listings-index-map {
    // display: flex;
    // position: fixed;
    position: -webkit-sticky;
     position: sticky;
     top: 10rem;
    //  justify-content: flex-start;
}
