.results-for {
    padding: 2%;
    padding-left: 5%;

}
.listing-and-map-container {
    display: flex;
    justify-content: space-between;
}
.listings-index-map {
    // display: flex;
    // position: relative;
    // position: -webkit-sticky;
    //  position: sticky;
    //  top: 10rem;
    //  justify-content: flex-start;
}
