.listing-index-item {
    display: flex;
    // margin-top: 15px;
    padding: 20px 20px 0px 20px;
    width: 792px;
    height: 228px;
    border-bottom: 1px solid rgb(199, 196, 196);
    // border-bottom: 7px dotted rgb(134, 9, 9);
	// box-shadow: inset 0 -3px 0 0 rgb(199, 196, 196), 0 3px 0 0  rgb(199, 196, 196);
}
.inner-index-item-div{
    display: flex;
    // flex-wrap: wrap;
}
// .inner-index-item-div p {
//     // width: 150px;
//     // height: 20px;
// }

.inner-index-item-div-price {
    display: flex;
    flex-direction: column;
    // justify-content: right;
    align-items: right;
    width: 300px; 

    p{
        padding-left: 130%;
        padding-top: 23%;
        width: 150px;
    }
}
.listing-index-item img {
    width: 300px;
    height: 200px;
    float: left;
}
.title {
    margin: 10px;
    font-size: 28px;
    font-weight: 300;
    height: 30px;
    font-family: cursive;
    border-bottom: 1px solid  lightgray;
}
.listing-text{
    margin: 20px;
}
.listing-text p {
    margin: 5px;
    font-family: cursive;
}
//break here
// #image-slider {
//     width: 100%;
//     // height: 200px;
//     max-width: 300px;
//     overflow: hidden;
// }

// #image-slider ul {
//      width:500%; /* No. of images * 100% */
//     overflow:hidden;
//     position:relative;
//     list-style:none;
// }

// #image-slider ul li {
//     float: left;
//     width:10%;
//     transform:translate(100%, 0);
    
// }
// #image-slider ul li img {
//     max-width:100%;
// }

.slider {
  width: 300px;
  height: 200px;
  display: flex;
  overflow-x: auto;
}
.slide {
  width: 300px;
  flex-shrink: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory; 
}
.slider > div {
  /* CURRENT way. */
  scroll-snap-align: start;
 
//   display: flex;
//   flex-direction: column;
}
.slide > img {
    width: 300px;
    height: 200px;
}
// .slide img a {
//  position: absolute;
// }