.listing-index-item {
    display: flex;
    // flex-direction: column;
    // align-items: center;
    padding: 20px;
    width: 792px;
    height: 228px;
}
.inner-index-item-div{
    display: flex;
    
    
}
.inner-index-item-div-price {
    display: flex;
    justify-content: right;
    
}
.listing-index-item img {
    width: 300px;
    height: 200px;
    float: left;
}
//break here
// #image-slider {
//     width: 100%;
//     // height: 200px;
//     max-width: 300px;
//     overflow: hidden;
// }

// #image-slider ul {
//      width:500%; /* No. of images * 100% */
//     overflow:hidden;
//     position:relative;
//     list-style:none;
// }

// #image-slider ul li {
//     float: left;
//     width:10%;
//     transform:translate(100%, 0);
    
// }
// #image-slider ul li img {
//     max-width:100%;
// }

.slider {
  width: 300px;
  height: 300px;
  display: flex;
  overflow-x: auto;
}
.slide {
  width: 300px;
  flex-shrink: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory; 
}
.slider > div {
  /* CURRENT way. */
  scroll-snap-align: start;
//   display: flex;
//   flex-direction: column;
}
.slide > img {
    width: 300px;
    height: 200px;
}
// .slide img a {
//  position: absolute;
// }