.outer-listing-show-container {

    h1 {
        padding-left: 12%;
        padding-bottom: 5%;
        font-size: 30px;
        font-weight: 600;
    }
}
.first-listing-photo {
    width: 40vw;
    height: 47vh;
    padding-left: 12%;
}
.listing-show-page-4-main-photos {
   
    img {
        width: 10vw;
        height: 11.75vh;
    }
}