* {  //removes blue boxes from elements on focus
    outline: none;
    text-decoration: none;
    a:link, a:visited {
    color: black;
}
}
.destination-search-bar-container{
    display: flex;
    position: fixed;
    left: 2%;
    justify-content: center;
    padding: 0px 20px;
}
.destination-search-bar-container input{
    width: 300px;
    height: 20px;
    padding: 0px;
    border: none;
    
   
} 
.destination-search-bar-form-button{
  width: 380px;
  height: 50px;
  padding: 10px;
}

.destination-search-bar-form{
    display: flex;
    //  position: fixed;
    border-radius: 8px;
    // right: 10%;
}  

.destination-search {
  border: 1px solid ghostwhite  ;
  box-shadow: 1px 3px rgba(230, 227, 227, 0.349);;
//   transition: box-shadow 0.2s ease-in-out;
  background-color: white ;
  -webkit-box-shadow: -1px -1px 16px -12px rgba(0, 0, 0, 0.842);
  -moz-box-shadow: -1px -1px 16px -12px rgba(0, 0, 0, 0.829);
  box-shadow: -1px -1px 16px -12px rgba(0, 0, 0, 0.829);
}

.destination-search.left{
    border-radius: 12px 0px 0px 12px;
    // border-right: 1px solid grey;
     width: 380px;
    height: 50px;
    padding: 10px;
    
}
.destination-search.left input{
  margin-left: 5px;
}
.destination-search.center{
     width: 380px;
    height: 72px;
    padding: 10px;
    background-color: rgb(253, 253, 253);   
    border: 1px solid ghostwhite;
    // border-bottom: 1px solid ghostwhite;
}
.destination-search.right{
    width: 380px;
    height: 72px;
    padding: 10px;
    background-color: rgb(253, 253, 253);  
    border: 1px solid ghostwhite;
    // border-bottom: 1px solid ghostwhite;
}
.destination-search:hover{
    border: 1px solid rgb(214, 214, 214);
    border-radius: 12px;
    cursor: pointer;
}

.destination-search.submit-background{
    display: flex;
    align-items: center;
    // border: 1px solid black;
    border-radius: 0px 12px 12px 0px;
}
.destination-search-bar-form.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 111px;
    border-radius: 8px;
    margin-right: 13px;
    margin-left: 13px;
    background-color: rgb(218, 45, 88);
    color: ghostwhite;
    font-size: 14px;
}

.dest-search-center-inner-div-1{
    display: flex;
    justify-content: start;
    font-size: 10px;
    font-weight: 500;
    margin: 5px;
    text-decoration: none;
}
.dest-search-center-inner-div-2{
    display: flex;
    justify-content: start;
    margin-left: 5px;
    text-decoration: none;
}
.dest-search-right-inner-div-1{
    display: flex;
    justify-content: start;
    font-size: 10px;
    font-weight: 500;
    margin: 5px;
    text-decoration: none;
}
.dest-search-right-inner-div-2{
    display: flex;
    justify-content: start;
    margin-left: 5px;
    text-decoration: none;
}
.dest-search-left-inner-div-1{
    font-size: 10px;
    font-weight: 500;
    margin: 5px;    
    text-decoration: none;
}