.main-page-signup-button{
 border: none;
 background-color: #fff;
 font-weight: 550;
}
.main-page-login-button{
 font-weight: 550;
 background-color: #fff;
 border-radius: 20px;
 padding: 15px;
 box-shadow: 1px 2px rgb(238, 238, 238);
}