.Logo {
    color: rgb(218, 45, 88);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logo-link-home {
    text-decoration: none;
}