.main-page-header-button-container{
  display: flex;
  // position: relative;
}
.main-page-header-button-container > li {
  // position: absolute;
  // text-decoration: none;
  list-style: none;
}
.main-page-header-button{
 border: none;
 background-color: #fff;
 font-weight: 550;
 border-radius: 20px;
 padding: 15px;

}
.main-page-header-button:hover{
 background-color: ghostwhite;
}
.main-page-login-button{
 font-weight: 550;
 background-color: #fff;
 border-radius: 20px;
 padding: 15px;
 border: 1px solid rgb(218, 215, 215);
}
.main-page-login-button:hover{
  box-shadow: 1px 3px rgb(230, 227, 227);;
  transition: box-shadow 0.2s ease-in-out;
  -webkit-box-shadow: -1px -1px 16px -12px rgba(0,0,0,0.72);
  -moz-box-shadow: -1px -1px 16px -12px rgba(0,0,0,0.72);
  box-shadow: -1px -1px 16px -12px rgba(0,0,0,0.72);
}
.main-page-logout-button{
//Do I want a modal or dropdown here instead?
}